.colores{
    background-color: lightpink;
    text-align: center;
}

.logo{
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    width: 20%;
    border-radius:50%;
    border-color: pink;
    border-style: solid;
}
